ShowTrackerSearchClient/App_WebReferences/SelectServiceReference/SelectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SelectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50110/SelectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50110/SelectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50110/SelectService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50110/SelectService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISelectService_GetVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenues" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetShowsByVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByVenue" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetShowsByVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByVenueResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetShowsByArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByArtist" />
  </wsdl:message>
  <wsdl:message name="ISelectService_GetShowsByArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="ISelectService">
    <wsdl:operation name="GetVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectService/GetVenues" message="tns:ISelectService_GetVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectService/GetVenuesResponse" message="tns:ISelectService_GetVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectService/GetArtists" message="tns:ISelectService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectService/GetArtistsResponse" message="tns:ISelectService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectService/GetShows" message="tns:ISelectService_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectService/GetShowsResponse" message="tns:ISelectService_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectService/GetShowsByVenue" message="tns:ISelectService_GetShowsByVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectService/GetShowsByVenueResponse" message="tns:ISelectService_GetShowsByVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectService/GetShowsByArtist" message="tns:ISelectService_GetShowsByArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectService/GetShowsByArtistResponse" message="tns:ISelectService_GetShowsByArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISelectService" type="tns:ISelectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVenues">
      <soap:operation soapAction="http://tempuri.org/ISelectService/GetVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/ISelectService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/ISelectService/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByVenue">
      <soap:operation soapAction="http://tempuri.org/ISelectService/GetShowsByVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByArtist">
      <soap:operation soapAction="http://tempuri.org/ISelectService/GetShowsByArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelectService">
    <wsdl:port name="BasicHttpBinding_ISelectService" binding="tns:BasicHttpBinding_ISelectService">
      <soap:address location="http://localhost:50110/SelectService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>